<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <title>Hotel</title>
 <link rel="stylesheet" th:href="@{/css/boot4.css}" />
<link rel="stylesheet" th:href="@{/css/TryingCss.css}">
</head>

  
  

<body>

  

<aside>
  <ul>
         <li><span><a th:href="@{Post Package.html}">Post Package</a></span><span></span></li>
         <li><span><a href="#">Manage Booking</a></span><span></span></li>
        <li><span><a href="#"> User's Book</a></span><span></span></li>
   
         <li><span><a href="#">Post Advertisement</a></span><span></span></li>
         <li><span><a href="#">Manage Booking</a></span><span></span></li>
        <li><span><a href="#"> Logout</a></span><span></span></li>
    </ul>
</aside>

<div class="container h-100" id="search">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <b class="search">Search</b>
          <input class="search_input" type="text" name="" >
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>


</body>
</html>
