<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <title>Hotel</title>
 <link rel="stylesheet" th:href="@{/css/boot4.css}" />
<link rel="stylesheet" th:href="@{/css/TryingCss.css}">
</head>

  
  

<body class="bg-primary">

  
<div id="booking" class="section">

<aside>
  <ul>
       <li><span><a href="#">Home</a></span><span></span></li>
         <li><span><a href="#">Post Package</a></span><span></span></li>
         <li><span><a href="#">Manage Booking</a></span><span></span></li>
        <li><span><a href="#"> User's Book</a></span><span></span></li>
   
         <li><span><a href="#">Post Advertisement</a></span><span></span></li>
         <li><span><a href="#">Manage Booking</a></span><span></span></li>
        <li><span><a href="#"> Logout</a></span><span></span></li>
    </ul>
</aside>

 <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form">
            <div class="form-header">
              <h1>Fill in Package</h1>
            </div>
            <form th:action="@{/PostPackage}" method="post" th:object="${packages}">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Package Name</span>
                    <input class="form-control" type="text" placeholder="Enter Package name" th:field="*{package_name}">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Food Price</span>
                    <input class="form-control" type="number" placeholder="Enter Price of Food" th:field="*{food_amount}">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <span class="form-label">Description</span>
                <textarea th:field="*{description}" class="form-control" id="area" type="text"  placeholder="Enter Description" rows="3" ></textarea>
            </div>
              <div class="row">
                <div class="col-sm-4">

              <div class="form-group">
                <span class="form-label">Path</span>
                <input class="form-control" type="text" placeholder="Enter ZIP/Location" th:field="*{path}">
              </div>

            </div>
   <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label" >Adult Capacity</span>
                        <select class="form-control" type="number" th:field="*{numbe_of_adults}">
                          <option value="1">1</option>

                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">Children Capacity</span>
                        <select class="form-control" type="number" th:field="*{numbe_of_childrens}">
                          <option value="1">1</option>

                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
            </div>

            

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <span class="form-label">Stay Amount</span>
                    <input class="form-control" th:field="*{stay_amount}" type="number" placeholder="Stay Amount" required>
                  </div>
                </div>
                
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">Days</span>
                        <select class="form-control"  type="number" th:field="*{number_days}" >
                            <option type="number" value="1">1</option>

                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <span class="form-label">Nights</span>
                        <select class="form-control" type="number" th:field="*{number_nights}" >
                            <option type="number" value="1">1</option>
                        </select>
                        <span class="select-arrow"></span>
                      </div>
                    </div>
                   
                  </div>
              
              <div class="form-btn">
                <button class="submit-btn" value="submit">Post Package</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
